In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/imdwipayana/Python-Project-2023/main/Project/asuransi_mobil.csv')

In [3]:
data.head(4)

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,0.629027,ya,setelah 2020,belum menikah,ada,10238,12000.0,keluarga,0,0,0,tidak
1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,0.357757,tidak,sebelum 2020,belum menikah,tidak ada,10238,16000.0,keluarga,0,0,0,ya
2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,0.493146,ya,sebelum 2020,belum menikah,tidak ada,10238,11000.0,keluarga,0,0,0,tidak
3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,0.206013,ya,sebelum 2020,belum menikah,ada,32765,11000.0,keluarga,0,0,0,tidak

In [4]:
data.describe()

,IDENTITAS,SKOR_KREDIT,KODE_POS,KM_PER_TAHUN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA
count,10000.000000,9018.000000,10000.000000,9043.000000,10000.000000,10000.00000,10000.000000
mean,500521.906800,0.515813,19864.548400,11697.003207,1.482900,0.23920,1.056300
std,290030.768758,0.137688,18915.613855,2818.434528,2.241966,0.55499,1.652454
min,101.000000,0.053358,10238.000000,2000.000000,0.000000,0.00000,0.000000
25%,249638.500000,0.417191,10238.000000,10000.000000,0.000000,0.00000,0.000000
50%,501777.000000,0.525033,10238.000000,12000.000000,0.000000,0.00000,0.000000
75%,753974.500000,0.618312,32765.000000,14000.000000,2.000000,0.00000,2.000000
max,999976.000000,0.960819,92101.000000,22000.000000,22.000000,6.00000,15.000000

In [5]:
data.dtypes

IDENTITAS                  int64
UMUR                      object
JENIS_KELAMIN             object
PENGALAMAN_MENGEMUDI      object
PENDIDIKAN                object
PENGHASILAN               object
SKOR_KREDIT              float64
PEMILIK_KENDARAAN         object
TAHUN_PRODUKSI            object
STATUS                    object
ANAK                      object
KODE_POS                   int64
KM_PER_TAHUN             float64
JENIS_KENDARAAN           object
TILANG_NGEBUT              int64
TILANG_MABUK               int64
KECELAKAAN_SEBELUMNYA      int64
KLAIM                     object
dtype: object

In [6]:
data.isnull().sum()

IDENTITAS                  0
UMUR                       0
JENIS_KELAMIN              0
PENGALAMAN_MENGEMUDI       0
PENDIDIKAN                 0
PENGHASILAN                0
SKOR_KREDIT              982
PEMILIK_KENDARAAN          0
TAHUN_PRODUKSI             0
STATUS                     0
ANAK                       0
KODE_POS                   0
KM_PER_TAHUN             957
JENIS_KENDARAAN            0
TILANG_NGEBUT              0
TILANG_MABUK               0
KECELAKAAN_SEBELUMNYA      0
KLAIM                      0
dtype: int64

In [7]:
data.UMUR.unique()

array(['lebih dari 65 tahun', 'kurang dari 25 tahun',
       'antara 25-40 tahun', 'antara 40-65 tahun'], dtype=object)

In [8]:
data_drop['UMUR'] = \
data_drop['UMUR'].map({'lebih dari 65 tahun':0,'antara 40-65':1,'antara 25-40 tahun':2,'kurang dari 25 tahun':3})

NameError: name 'data_drop' is not defined

In [ ]:
data.JENIS_KELAMIN.unique()

In [ ]:
data_drop['JENIS_KELAMIN'] = \
data_drop['JENIS_KELAMIN'].map({'perempuan':0,'laki-laki':1})

In [ ]:
data_categorical =['SKOR_KREDIT','KM_PER_TAHUN']

In [ ]:
data_drop = data.drop(data_categorical, axis =1)

In [ ]:
data_drop.head()

In [ ]:
data_drop.isnull().sum()

In [ ]:
data.PENGALAMAN_MENGEMUDI.unique()

In [ ]:
data_drop['PENGALAMAN_MENGEMUDI'] = \
data['PENGALAMAN_MENGEMUDI'].map({'lebih dari 30 tahun':3, 'antara 20-30 tahun':2, 'antara 10-20 tahun':1,'kurang dari 10 tahun':0})

In [ ]:
data.PENGHASILAN.unique()

In [ ]:
data_drop['PENGHASILAN'] = \
data_drop['PENGHASILAN'].map({'lebih dari 3x UMR':3,'antara 2-3x UMR':2,'antara 1-2x UMR':1,'kurang dari UMR':0})

In [ ]:
data.PEMILIK_KENDARAAN.unique()

In [ ]:
data_drop['PEMILIK_KENDARAAN'] = \
data_drop['PEMILIK_KENDARAAN'].map({'ya':1, 'tidak':0})

In [ ]:
data.TAHUN_PRODUKSI.unique()

In [ ]:
data_drop['TAHUN_PRODUKSI'] = \
data_drop['TAHUN_PRODUKSI'].map({'setelah 2020':1,'sebelum 2020':0})

In [ ]:
data.KLAIM.unique()

In [ ]:
data_drop['KLAIM'] = \
data_drop['KLAIM'].map({'tidak':1, 'ya':0})

In [ ]:
data.STATUS.unique()

In [ ]:
data_drop['STATUS'] = \
data_drop['STATUS'].map({'belum menikah':1, 'menikah':0})

In [ ]:
data.head()

In [ ]:
data.dtypes

In [ ]:
data.describe()

In [ ]:
from sklearn import preprocessing

scaler = preprocessing.MinMaxScaler()
d = scaler.fit_transform(data_drop)
data_normalisasi = pd.DataFrame(d, columns=data_drop.columns)
data_normalisasi.head(10)